<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>点餐</title>
    <link rel="stylesheet" href="cdn/amazeui.min.css">
    <style>
        th,td{
            text-align: center;
            color: green;
            font-family: "Adobe 宋体 Std L";
            font-size: 16px;
        }
    </style>
</head>
<body ng-controller="myCtrl" ng-init="ys=150;used=0;names='还没有点菜！';total=0" style="background-color: beige">
<table class="am-table am-table-radius am-table-bd">
<tr><td colspan="5">预算:{{ys}}元&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;已点:{{used}}元&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    剩余：{{ys-used}}元&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 共：{{total}}个菜</td></tr>
<tr><td colspan="5">{{names}}</td></tr>
<tr><th><input type="checkbox" ng-model="all" id="all"></th><th>菜名</th><th>数量</th><th>价格</th><th>总价</th></tr>
<tr ng-repeat="vo in list" on-finish-render="renderOver">
    <td><input type="checkbox" ng-checked="all"  id="{{vo.id}}" ng-click="calPrice(vo)"></td>
    <td width="50%">{{vo.name}}</td>
    <td>{{vo.price}}/份</td>
    <td align="center">
        <a href="javascript:void(0)" ng-click="sub(vo)">-</a>
        <input type="text" value="{{vo.num}}"  ng-model="vo.num" ng-change="my()"  style="width: 50px;text-align: center;"/>
        <a href="javascript:void(0)" ng-click="vo.num=vo.num+1" >+</a></td>
    <td>{{vo.num*vo.price}}元</td>
</tr>
</table>
</body>
<script type="text/javascript" src="cdn/jquery.min.js"></script>
<script type="text/javascript" src="cdn/angular.min.js"></script><!--1.5.7-->
<script type="text/javascript" src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>
<script type="text/javascript" src="http://apps.bdimg.com/libs/angular.js/1.3.0-beta.8/angular-animate.min.js"></script>
<script type="text/javascript" src="cdn/angular-ui-router.min.js"></script><!--0.3.1-->
<script type="text/javascript" src="https://lscho.github.io/am-page/dist/amazeui.page.js"></script>
<script type="text/javascript" src="component/common.js"></script>
<script type="text/javascript">
    var myApp = angular.module("myApp",["repeatFinish","getTitle"]);
		myApp.controller("myCtrl",function($scope,$http){
		//springboot 通过注解设置跨域
	    var http="http://192.168.16.211:8080/stock/common/corGet?name=chenyuanbao";//springboot @注解方式
        $http.get(http, {cache: true}).success(
                function(data){
                  console.log("boot注解跨域测试GET："+data);
                }
        );
		http="http://192.168.16.211:8080/stock/common/corPost?name=chenyuanbao";
		$http.post(http, {cache: true}).success(
                function(data){
                  console.log("boot注解跨域POST："+data);
                }
        );
		/* http="http://192.168.16.211:8080/stock/common/list?name=chenyuanbao";
        $http.get(http, {cache: true}).success(
                function(data){
                  console.log("boot不支持跨域测试GET："+data);
                }
        );*/
       //tomcat 配置web.xml 测试跨域
	    http="http://192.168.16.211:8087/mvc-1/return/map.do";//
        $http.get(http, {cache: true}).success(
                function(data){
                  console.log("自定义filter跨域测试GET："+data);
                }
        );
		http="http://192.168.16.211:8087/mvc-1/return/userp.do";//
        $http.post(http, {cache: true}).success(
                function(data){
                  console.log("自定义filter跨域测试GET："+data);
                }
        );
    }).config(function($httpProvider) {
$httpProvider.defaults.useXDomain = true;
delete $httpProvider.defaults.headers
.common['X-Requested-With'];
});
</script>
</html>