<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>五子棋</title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <link rel="stylesheet" href="../../cdn/amazeui.min.css">
</head>
<body ng-controller="controller">
<center>
    <font size="10">当前步：<span ng-show="cur==0"><font color="green"><b>甲方</b></font></span><span ng-show="cur==1"><font color="black"> <b>乙方</b></font></span>  【绿 甲方 黑 乙方】</font>
    <font size="10">下一步：<span ng-show="cur==1"><font color="green"><b>甲方</b></font></span><span ng-show="cur==0"><font color="black"> <b>乙方</b></font></span>  </font><br>
</center>
<table class="am-table-bd am-table am-table-bordered am-table-radius" style="width:80%;height: 80%;" align="center">
    <tr ng-repeat="x in xArr">
        <td ng-repeat="y in yArr" ng-click="show(x,y)" id="{{x+'-'+y}}" able="-1">{{x}}-{{y}}</td>
    </tr>
</table>
<div id="obj" style="width:50px;height:50px;border-radius:50px;border:solid rgb(100,100,100) 1px;z-index:999;position:absolute"></div>
<script src="../../cdn/jquery.min.js"></script>
<script src="pub.js"></script>
<script src="direct.js"></script>
<script src="main.js"></script>
<script type="text/javascript" src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>
</body>
</html>