
<style>
    .list {
        margin-top: 2rem;
        margin-bottom: 8rem;
        border: 1px solid #ddd;
        align:center;
    }

    .list tr:first-of-type td {
        color: white !important;
        background-color: #fd0DAE !important;
    }

    .list ul {
        margin: 0;
        padding-left: 0;
        list-style: none;
    }

    .list li {
        margin: 0;
        position: relative;
    }

    .list li.hover {
        color: #8f8e8e;
    }

    .list li > span {
        margin: 0;
    }

    .list li div {
        display: none;
        color: #000000;
    }

    .list li.hover div {
        position: absolute;
        display: inherit;
        left: 65%;
        width: 20rem;
        background: #fff;
        border: 1px solid #d07DAE;
        border-radius: 10px;
        background: #fff;
        padding: 1rem;
        z-index: 1;
    }

    .list li.hover div:after {
        position: absolute;
        top: 40%;
        right: 100%;
        left: -8px;
        content: " ";
        border-color: transparent;
        border-style: solid solid solid solid;
        border-width: 8px 8px 8px 0;
        border-right-color: white;
        margin-left: 1px;
        z-index: 2;
    }

    .list li.hover div:before {
        position: absolute;
        top: 40%;
        right: 100%;
        content: " ";
        border-color: transparent;
        border-style: solid solid solid solid;
        border-width: 8px 8px 8px 0;
        border-right-color: #277DAE;
        z-index: 1;
    }
</style>
<center>
<table class="am-table am-table-hover list am-g-fixed">
    <tbody>
    <tr>
        <td>
            姓名
        </td>
        <td>
            性别
        </td>
        <td>
            现任职务
        </td>
        <td>
            职务描述
        </td>
        <td>
            任现职时间
        </td>
        <td>
            履历
        </td>
    </tr>
    <tr ng-repeat="x in list">
        <td>
            {{x.xm}}
        </td>
        <td>
            {{x.xb}}
        </td>
        <td>
            {{x.xrzw}}
        </td>
        <td>
            {{x.ggwh}}
        </td>
        <td>
            {{x.rxzsj}}
        </td>
        <td>
            <ul id="xgjl">
                <li ng-repeat="jl in x.xgjl" ng-mouseenter="show($event)"
                    ng-class="{'hover':($first&&$parent.$first)}" on-finish-render="showTip">
                    <span>{{jl.title}}</span>
                    <div ng-if="jl.title!='无'" compile="jl.text">
                    </div>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
</center>