<header role="banner" id="top" class="navbar navbar-static-top navbar-inverse">
    <div class="container" >
        <nav role="navigation" class="collapse navbar-collapse ">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a href="#doc-oc-demo1" data-am-offcanvas><i class="am-icon-github am-icon-fw"></i> </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- 链接触发器， href 属性为目标元素 ID -->
<!-- 侧边栏内容 -->
<div id="doc-oc-demo1" class="am-offcanvas">
    <div class="am-offcanvas-bar">
        <div class="am-offcanvas-content">
            <p>
                我不愿让你一个人 <br/>
                承受这世界的残忍 <br/>
                我不愿眼泪陪你到 永恒
            </p>
        </div>
    </div>
</div>