<div class="am-g" style="border:0px red solid">
    <div class="am-u-sm-1">&nbsp;</div>
    <div class="am-u-sm-8">
        <a target="_self" href="../../#/home"><i style="display: block;margin:20px;"><img src="../../img/logo.png"  height="50rem"/></i></a>
    </div>
    <div class="am-u-sm-3">
        <a href="#doc-oc-demo1" data-am-offcanvas>
         <i class="am-icon-reorder am-icon-sm" id="offcanvasbtn" data-am-offcanvas="{target: '#id'}" style="display: block;margin-top:40px;"></i>
        </a>
    </div>
</div>
<!-- 链接触发器， href 属性为目标元素 ID -->
<!-- 侧边栏内容 -->
<div id="doc-oc-demo1" class="am-offcanvas" style="opacity: 0.8;">
    <div class="am-offcanvas-bar">
        <div class="am-offcanvas-content" style="margin-top: 15rem">
            <div ui-sref-active="active" ng-repeat="menu in menus" style="text-align: center;font-size: 2rem">
                <a href="../../{{menu.href}}">{{menu.name}}</a>
            </div>
        </div>
    </div>
</div>