      <style>
        .jyts .rltitle {
            margin-top: 8rem;
            color: #26538f;
            font-size: 1.8rem;
            font-weight: bold;
        }

        .jyts .rltitle [class*=am-icon-] {
            margin: 0 3rem;
            font-size: 2.5rem;
            cursor: pointer;
        }

        .jyts .rlxq {
            margin: 3rem 0;
        }

        .jyts .rlxq div {
            width: 14.28%;
            color: #26538f;
            font-size: 1.8rem;
            text-align: center;
        }

        .jyts .rl div {
            width: 14.28%;
            text-align: center;
            font-size: 2.7rem;
            float: left;
            height: 4rem;
            color: #26538f;
            cursor: pointer;
            position: relative;
        }

        .jyts .rl div p{
            width: 30px;
            margin: auto;
            text-align: right;
        }
        .jyts .rl div.chose{
            color: #5cafdc!important;
        }
        .jyts .rl div:hover{
            color: #5cafdc;
        }

        .jyts .rl div span {
            position: absolute;
            top: 0;
            right: 30%;
            content: " ";
            border-color: red;
            border-style: solid;
            border-width: 10px 5px 3px 5px;
            border-bottom-color: transparent;
        }

        .jyts .rl div:nth-child(7n), .jyts .rl div:nth-child(7n+1) {
            color: #b9b9b9;
        }
    </style>
    <div class="jyts">
        <div class="am-text-center rltitle">
            <i class="am-icon-angle-left" ng-click="subrl()"></i>
            <span>{{yy}}年{{mm}}月</span>
            <i class="am-icon-angle-right" ng-click="addrl()"></i>
        </div>
        <div class="rl am-container am-g" style="border:0px solid red;">
            <div class="am-u-">星期天</div>
            <div class="am-u-">星期一</div>
            <div class="am-u-">星期二</div>
            <div class="am-u-">星期三</div>
            <div class="am-u-">星期四</div>
            <div class="am-u-">星期五</div>
            <div class="am-u-">星期六</div>
        </div>
        <div class="rl am-container am-g" style="border:0px solid green;">
            <div ng-repeat="x in kong"></div>
            <div ng-repeat="x in rlarray" ng-click="chosedate(x)" ng-class="x.class">
                <p>{{x.value}}<span ng-if="x.data"></span></p>
            </div>
        </div>
        </div>
    <center><div class="jytstexttitle"><span>{{yy}}年{{mm}}月{{dd}}日</span></div></center>
      <div ui-view></div>
    <!--内容样式-->
    <style>
        .jytstexttitle {
            margin-top: 8rem;
            width: 960px;
            margin-bottom: 4rem;
            font-size: 1.8rem;
        }
        .jytstext {
            width: 960px;
        }
    </style>