<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>ngselected</title>
    <script src="../cdn/angular.min.js"></script>
    <link rel="stylesheet" href="../cdn/amazeui.min.css">
</head>
<body ng-controller="controller">
<form>
    <table class="am-table-bordered am-table am-accordion-bd am-tab-panel">
        <tr>
            <td colspan="6"><input type="button" class="am-btn-primary" name="Radio" ng-click="loadData()" value="xxx"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" class="am-btn-primary"  name="Radio" value="xxx" ng-click="loadData()"/>&nbsp;&nbsp;&nbsp;&nbsp; </td>
        </tr>
        <tr>
            <td colspan="6"><input type="radio" name="Radio" class="am-radio am-radio-inline" ng-click="loadData()" value="xxx">男&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" class="am-radio am-radio-inline" name="Radio" value="xxx" ng-click="loadData()">男&nbsp;&nbsp;&nbsp;&nbsp; </td>
        </tr>
        <tr>
            <td align="right">计划分类</td>
            <td>
                <select ng-init="Color==2" ng-model="Color"  style="width:100%;">
                    <option ng-repeat="x in [1,2,3,4,5,6,7,8,9]" value="{{x}}" ng-selected="1==key">{{x}}</option>
                </select>
            </td>
            <td align="right">定码个数</td>
            <td>
                <select ng-init="CodeNumber==2" ng-model="CodeNumber"  style="width:100%;">
                 <option ng-repeat="x in [1,2,3,4,5,6,7,8,9]" value="{{x}}" ng-selected="1==key">{{x}}</option>
                </select>
            </td>
            <td align="right">计划周期</td>
            <td>
                <select ng-init="PlanCycle==2" ng-model="PlanCycle" style="width:100%;">
                    <option ng-repeat="x in [1,2,3,4,5,6,7,8,9]" value="{{x}}" ng-selected="1==key">{{x}}</option>
                </select>
            </td>
        </tr>
    </table>
</form>
<div id="content" style="width:100%;text-align:center">

</div>
<script src="../cdn/jquery.min.js"></script>
<script>
    var app = angular.module('app',[]);
    app.controller('controller',main);
    function main($scope,$q,$http){
        $scope.i=0;
        $scope.loadData=function(){
            $('#content').html($scope.i++);
        }
        $scope.map={0:'台湾5分计划', 1:'官方重庆计划', 2:'河内5分计划', 3:'泰国5分计划', 4:'西贡5分计划'};
        $scope.mkey=2;
    }

</script>

<script type="text/javascript" src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>
</body>
</html>