<!--<div style="text-align: right;margin-right: 50px;">
    <span ng-repeat="menu in myheader.links">
       &lt;!&ndash; ng-if="menu.uisref"  <a ng-if="menu.href" href="{{menu.href}}" target="_blank">{{menu.name}}</a>&nbsp;&nbsp;</span>&ndash;&gt;
          <a  ui-sref="{{menu.uisref}}">{{menu.name}}</a>&nbsp;&nbsp;</span>
    </span>
    <span ng-repeat="menu in menus">
        <a ng-if="menu.href" href="{{menu.href}}" target="_self">{{menu.name}}</a>&nbsp;&nbsp;</span>
       <a ng-if="menu.uisref" ui-sref="{{menu.uisref}}">{{menu.name}}</a>&nbsp;&nbsp;</span>
</div>-->
<header role="banner" id="top" class="navbar navbar-static-top navbar-inverse">
    <div class="container" >
        <nav role="navigation" class="collapse navbar-collapse ">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a target="_self" href="../../#/home">首页 </a>
                </li>
                <li ui-sref-active="active" ng-repeat="menu in mynav.links">
                    <a ui-sref="{{menu.uisref}}">{{menu.name}}</a>
                </li>
                <!--<li ui-sref-active="active">-->
                    <!--<a ui-sref="cloth" href>衣服</a>-->
                <!--</li>-->
                <!--<li ui-sref-active="active">-->
                    <!--<a ui-sref="food" href="">食品</a>-->
                <!--</li>-->
                <li ui-sref-active="active" style="float:right;">
                    <mymenu></mymenu>
                </li>
            </ul>
        </nav>
    </div>
</header>
